* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #222;
  line-height: 1.6;
}

header {
  background-color: #b30000;
  color: white;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
}

.destaque {
  margin-top: 1rem;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}